:root {
  font-family: 'Orbitron', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1E2124;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@keyframes PagesAnimation {
  0% {
    transform: translateY(-140px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }

}