@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;700&display=swap');

@font-face {
  font-family: 'Aurebesh';
  src: url('./assets/fonts/Aurebesh.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



* {
  font-family: 'Exo', Arial, sans-serif;
  transition: all 0.3s ease;
}

.aurebesh {
  font-family: 'Aurebesh';
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #1E2124; */
  background-color: #0a0d12;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-color: rgba(0, 0, 0, 0.2); */
}

@keyframes PagesLeaveAnimation {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }

  100% {
    transform: translateY(-140px);
    opacity: 0;
  }
}

@keyframes PagesEnterAnimation {

  0% {
    transform: translateY(-140px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }

}